@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@700&family=Montserrat:wght@600;800&family=Roboto:wght@300;400;500&family=Yellowtail&display=swap');

.navbar-font {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
}

.menu-font {
    font-family: 'Bebas Neue', cursive;    
}

.title-item {
    font-family: 'Roboto', sans-serif;
    /* font-size: 1rem; */
    /* font-weight: 500; */
}

.font-price {
    font-family: 'Lato', sans-serif;
    /* font-size: 1rem; */
}

.font-button-buy {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.font-classifler {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

.font-classifler-option {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

